.control-group {
  margin-bottom: 1rem;
}

label {
  display: block;
}

input {
  border-radius: var(--border-radius);
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-secondary-dark)
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

input.ng-invalid.ng-touched + * {
  color: red;
}
