<a class="btn" routerLink="/pokedex">Go back</a>
<div *ngIf="loading$ | async">
  <p>Loading pokedex...</p>
</div>
<div *ngIf="!(loading$ | async) && (error$ | async) as errorMessage">
  <p>{{ errorMessage }}</p>
</div>
<div *ngIf="pokemon$ | async as pokemon">
  <img [src]="pokemon.sprites.front_default" [alt]="pokemon.name">
  <!--  back, male/female and shiny-->
  <div>{{ pokemon.name }}</div>
  <div class="types">
    <div *ngFor="let typeSlot of pokemon.types">
      {{ typeSlot.type.name }}
    </div>
  </div>
  <!--  abilities -->
  <!--  evolutions-->
</div>
